.container {
  min-height: 22rem;
  max-width: fit-content;
  display: flex;
  justify-content: center;
}

.Footer {
  display: flex;
  margin-top: auto;
  gap: 0.5rem;
  position: relative;
}

.delete {
  background-color: inherit;
  border: none;
  margin-left: auto;
  cursor: pointer;
  margin-right: 5px;
}

.content {
  display: flex;
  flex-flow: column;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
}
